.div1{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    
}
.div2{
    color: red;
    height: 200px;
    width: 200px;
    border: 2px solid black;

}
.div3{
    color: rgb(213, 16, 16);
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
#maindiv{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    display: flex;

}
.text{
    color: rgb(208, 9, 9);
    font-size: 30px;
    border: 1px solid black;
    height: 100px;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
