.main{

    background-color: #eb0606;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    animation: animate 2s infinite;
}