#para{
    color: rgb(75, 9, 230);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border: 3px solid red;
    background-color: rgb(226, 234, 213);
    padding: auto;
    box-shadow: inset 0 0 10px rgb(248, 4, 167);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    
    

}
.para{
    color: rgb(232, 77, 11);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.C{
    color: red;
    text-shadow: -5px 5px 6px rgb(5, 5, 5);
}
.y{
    color: green;
    text-shadow: -4px 3px 6px rgb(229, 12, 12);
}
.b{
    color: rgb(213, 18, 18);
    text-shadow: -5px 2px 5px rgb(5, 5, 5);
}
.r{
    color: yellow;
    text-shadow: -5px 2px 5px rgb(5, 5, 5);
}
.O{
    color: orange;
    text-shadow: -3px 2px 5px rgb(232, 59, 2);
}
.m{
    color: purple;
    text-shadow: -7px 2px 5px rgb(5, 5, 5);
}
#cybrom{

    font-size: 70px;
}